.container {
    display: flex;
    margin-top: 20px;
    padding-left: 16.3rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-left: 100px;
    border-radius: 1rem;
    width: 16rem;
    background-color: gold;
    padding: 0.5rem;
    border: 1px solid gold;
    font-size: 1.5rem;
    font-family: "Times New Roman";
    transition: background-color 0.5s;
}

.button:hover{
    border: 2px solid gold;
    background-color: black;
    color: gold;
}